@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

$primarycolor: #fd0c2c;
$hovercolor: #c20e26;

* {
    margin: 0;
    padding: 0;
    font-family: "Geist", sans-serif;
}

header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: $primarycolor;
    padding: 15px 30px;
    box-shadow: 0px 0px 25px rgb(138, 138, 138);
    .navbar {
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            .logo {
                img {
                    width: 220px;
                    height: auto;
                }
            }
            .search {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                input {
                    position: relative;
                    padding: 15px 20px;
                    border-radius: 9999px;
                    border: none;
                    height: 8px;
                    width: 25vw;
                    font-size: 15px;
                }
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    background-color: transparent;
                    border: none;
                    margin-right: 20px;
                    svg {
                        height: 22px;
                        path {
                            fill: $primarycolor;
                        }
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .navegation {
                display: flex;
                justify-content: center;
                align-items: center;
                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 4px;
                    border-right: 3px solid $hovercolor;
                    height: 26px;
                    &:last-child {
                        margin-right: 0px;
                        border-right: 0;
                    }
                    a {
                        text-decoration: none;
                        button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 18px;
                            padding: 6px 20px;
                            border: none;
                            background-color: transparent;
                            color: #fff;
                            font-weight: bold;
                            img {
                                width: 25px;
                                height: auto;
                                border-radius: 9999px;
                                margin-right: 8px;
                            }
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }   
    }
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 85px;
    .newpost {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        outline: 1px solid #c5c5c5;
        box-shadow: 0px 0px 10px rgb(138, 138, 138);
        padding: 20px;
        margin-block: 35px;
        border-radius: 1rem;
        width: 700px;
        .user-infos {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            .user-img {
                img {
                    border-radius: 9999px;
                    margin-right: 10px;
                    height: 40px;
                    width: 40px;
                }
            }
            .user-txt {
                display: flex;
                flex-direction: column;
                h2 {
                    font-size: 20px;
                    color: $primarycolor;
                }
                h4 {
                    font-weight: 400;
                    color: #c5c5c5;
                    font-size: 14px;
                    margin-top: -4px;
                }
            }
        }
        form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            .form-to-post {
                textarea {
                    background-color: #ececec;
                    width: 100%;
                    border-radius: 0.5rem;
                    resize: none;
                    border: none;
                    padding: 15px;
                    box-sizing: border-box;
                    font-size: 16px;
                }
            }
            .options {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;
                .submit {
                    padding: 10px 20px;
                    background-color: $primarycolor;
                    font-size: 16px;
                    font-weight: bold;
                    color: #fff;
                    border-radius: 9999px;
                    border: none;
                    width: 100px;
                    height: 38px;
                    box-sizing: border-box;
                    &:hover {
                        background-color: $hovercolor;
                        cursor: pointer;
                    }
                }
                .form-image {
                    #id_image {
                        &::file-selector-button {
                            background-image: url(../img/file.svg);
                            background-repeat: no-repeat;
                            background-position: center left;
                            background-color: transparent;
                            background-size: contain;
                            text-indent: -99999px;
                            height: 25px;
                            width: 100px;
                            border: none;
                            cursor: pointer;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

.register {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
    width: 100%;
    form {
        width: 35%;
        h1 {
            color: $primarycolor;
            font-size: 42px;
        }
        p {
            font-size: 18px;
            margin-bottom: 15px;
            color: grey;
        }
        .form-input {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            label {
                font-weight: 600;
                margin-bottom: 4px;
            }
            input {
                padding: 8px 12px;
                border: none;
                outline: 2px solid $primarycolor;
                border-radius: 8px;
                font-size: 18px;
                width: 100%;
                box-sizing: border-box;
            }
            #id_profile_pic {
                outline: none;
                padding: 8px 0px;
                border-radius: 0px;
                &::file-selector-button {
                    background-color: $primarycolor;
                    padding: 12px 16px;
                    border-radius: 8px;
                    color: #fff;
                    border: none;
                    margin-right: 10px;
                    &:hover {
                        cursor: pointer;
                        background-color: $hovercolor;
                    }
                }
            }
        }
        .submit {
            display: flex;
            justify-content: center;
            color: #fff;
            font-size: 20px;
            margin-top: 15px;
            width: 100%;
            padding: 12px;
            border-radius: 9999px;
            border: none;
            background-color: $primarycolor;
            &:hover {
                cursor: pointer;
                background-color: $hovercolor;
            }
        }
    }
}

.login-form {
    display: flex;
    input {
        padding: 8px 12px;
        margin-right: 8px;
        border: none;
        border-radius: 8px;
        font-size: 14px;
    }
    button {
        padding: 8px 12px;
        background-color: $hovercolor;
        border: none;
        border-radius: 8px;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
    }
}

.list {
    display: flex;
    flex-direction: column;
    .post {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        outline: 1px solid #c5c5c5;
        box-shadow: 0px 0px 10px rgb(138, 138, 138);
        padding: 20px;
        margin-bottom: 35px;
        border-radius: 1rem;
        width: 700px;
        .post-infos {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .post-user {
                display: flex;
                align-items: center;
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 9999px;
                    margin-right: 10px;
                }
                .post-txts {
                    h2 {
                        font-size: 20px;
                        color: $primarycolor;
                        display: flex;
                        align-items: center;
                        span {
                            font-size: 14px;
                            margin-left: 10px;
                            color: #c5c5c5;
                            font-weight: 400;
                        }
                    }
                    h4 {
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
            }
            .post-operations {
                a {
                    color: #c5c5c5;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 16px;
                    &:first-child {
                        margin-right: 5px;
                    }
                }
            }
        }
        .post-content {
            margin-top: 20px;
            h1 {
                font-size: 22px;
                white-space: pre-line;
            }
        }
        .post-image {
            margin-top: 15px;
            img {
                border-radius: 1rem;
                width: 600px;
                max-height: 700px;
                object-fit: cover;
                border: 1px solid #c5c5c5;
            }
        }
    }
}

.delete-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    outline: 1px solid #c5c5c5;
    box-shadow: 0px 0px 10px rgb(138, 138, 138);
    padding: 25px;
    margin-block: 35px;
    border-radius: 1rem;
    width: 700px;
    h1 {
        margin-bottom: 5px;
    }
    p {
        margin-bottom: 15px;
    }
    .operations {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 30px;
        a {
            margin-right: 10px;
            background-color: #e9e9e9;
            padding: 8px 12px;
            border-radius: 10px;
            font-size: 18px;
            text-decoration: none;
            color: #aaaaaa;
            &:hover {
                background-color: #e2e2e2;
            }
        }
        input {
            border: none;
            padding: 8px 12px;
            border-radius: 10px;
            background-color: $primarycolor;
            color: #fff;
            font-size: 18px;
            &:hover {
                background-color: $hovercolor;
                cursor: pointer;
            }
        }
    }
}