<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Vibe Social</title>
</head>
<body>
    <h1>Bem-vindo ao Vibe Social!</h1>
    
    {% if user.is_authenticated %}
        <p>Olá, {{ user.nome }}! Você está logado como {{ user.username }}</p>
        <a href="{% url 'login' %}">Logout</a>
    {% else %}
        <p>Você não está logado.</p>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register_page' %}">Registrar</a>
    {% endif %}
</body>
</html>